---
pagination:
    data: collections.doublePagination
    size: 1
    alias: tag
permalink: /double-pagination/{{ tag.tag | slugify }}/{% if tag.page_number > 0 %}{{ tag.page_number + 1 }}/{% endif %}
---

{% for post in tag.data %}
<article>
    <h1>{{ post.data.title }}</h1>
    <h2>{{ post.page.fileSlug }}</h2>
    <div>
        <h3>Tags:</h3>
        <ul>
            {% for tag in post.data.tags %}
                <li>{{ tag }}</li>
            {% endfor %}
        </ul>
    </div>
    <p>This post has {{ post.content | length }} characters</p>
</article>
{% endfor %}

<nav aria-labelledby="pagination">
    <div id="pagination" class="sr-only">Page Navigation: </div>
    <ul>
        {%- for tagpage in collections.doublePagination -%}
            {%- if tagpage.tag == tag.tag -%}
                {%- set page_number = tagpage.page_number -%}
                {%- set link_number = page_number + 1 -%}

                {%- set link_path = tag.tag | slugify -%}
                {%- if page_number > 0 -%}
                    {%- set link_path = [link_path, "/", link_number] | join -%}
                {%- endif -%}

                {%- set page_url = ["/", page.fileSlug, "/", link_path] | join -%}

                <li>
                    {%- if tagpage.page_number == tag.page_number -%}
                        {{- link_number -}}
                    {%- else -%}
                        <a href="{{ page_url }}">{{ link_number }}</a>
                    {%- endif -%}
                </li>
            {%- endif -%}
        {%- endfor -%}
    </ul>
</nav>