---
layout: base.njk
title: "Coding and Technologies Blog"
subtitle: "by Vince Aggrippino"

pagination:
  data: collections.post
  reverse: true
  size: 2
  alias: posts

permalink: "/{% if pagination.pageNumber > 0 %}page-{{ (pagination.pageNumber + 1).toString().padStart(4, 0) }}/{% endif %}index.html"
---
<div class="archives">
    <h4>Content Archives</h4>
    <ul>
        {% for year in collections.years | reverse %}
            <li>
                <a href="{{ year.page.url }}">{{ year.data.year }}</a>
                <ul>
                    {% for month in collections.months | reverse %}
                        {% if year.data.year in month.data.month %}
                            <li><a href="{{ month.page.url }}">{{ month.data.month }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</div>

<h1>{{ title | safe }}</h1>
<div class="subtitle">{{ subtitle | safe }}</div>

{%- for post in posts -%}
  <h2 class="post__title"><a href="{{ post.page.url }}">{{ post.data.title | safe }}</a></h2>
  {%- if post.data.subtitle -%}
    <div class="post__subtitle">{{- post.data.subtitle | safe -}}</div>
  {% endif %}
  {%- formatted_date post.data.date -%}
  {%- if post.data.excerpt -%}
    {{- post.data.excerpt | safe -}}
    <a href="{{ post.page.url }}">Read More...</a>
  {%- else -%}
    {{- post.content | safe -}}
  {%- endif -%}
{%- endfor -%}

<nav aria-labelledby="pagination">
  <div id="pagination" class="sr-only">Page Navigation: </div>
  <ol>
    <li>
      {%- if pagination.href.previous -%}
        <a href="{{ pagination.href.previous }}">Previous</a>
      {%- else -%}
        Previous
      {%- endif -%}
    </li>

    {%- for item in pagination.pages -%}
      {%- set current = '' -%}

      {%- if page.url == pagination.hrefs[loop.index0] -%}
        {%- set current = 'page' -%}
      {%- endif -%}

      <li><a href="{{ pagination.hrefs[loop.index0] }}" aria-current="{{ current }}">{{ loop.index }}</a></li>
    {%- endfor -%}

    <li>
      {%- if pagination.href.next -%}
        <a href="{{ pagination.href.next }}">Next</a>
      {%- else -%}
        Next
      {%- endif %}
    </li>
  </ol>
</nav>
