---js
{
    layout: "base.njk",
    tags: "months",
    pagination: {
        data: "collections.contentByMonth",
        size: 1,
        alias: "month",
        addAllPagesToCollections: true,
    },
    permalink: "{{ month }}/index.html",
    eleventyComputed: {
        title: function (data) {
            return `Posts from ${this.plainEnglishMonth(data.month)}`
        }
    },
}
---
<h2>{{ title }}</h2>
{% for post in collections.contentByMonth[month] %}
    <article>
        {{ post.content | safe }}
    </article>
{% endfor %}
